@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

html,
body,
#root {
  min-height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;

  --color-lightgray: #ddd;
  --color-gray: #282727;
  --color-black: #000000;
  --color-yellow: #edec51;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  background-color: var(--color-black);
  color: var(--color-lightgray);
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  all: unset;
  cursor: pointer;
}

/* we could create various utility classes for different spacings */
.spacing>*+* {
  margin-top: 1.8rem;
}